body {
  font-family: sans-serif;
  background: white;
  color: #486581;
}

h1,
h2,
h3 {
  color: #102a43;
  padding: 0;
  margin: 0;
}

h4,
h5 {
  color: #334e68;
  padding: 0;
  margin: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

ul {
  padding: 0 0 0 26px;
}

li {
  padding: 3px 0;
}
