body {
  font-family: sans-serif;
  background: #F5F6F4;
}

h1,
h2,
h3 {
  color: #102a43;
  padding: 0;
  margin: 0;
}

h4,
h5 {
  color: #334e68;
  padding: 0;
  margin: 0;
}

html, body, #root {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
* { box-sizing: inherit; }
