.u-flexH {
  display: flex;
  flex-direction: row;
}

.u-flexV {
  display: flex;
  flex-direction: column;
}

.u-centerBoth {
  justify-content: center;
  align-content: center;
  align-items: center;
}

.u-centerMain {
  justify-content: center;
}
